@{
	Layout = "_Layout";
	ViewData["Title"] = "Search";
}

<div class="app" style="display: flex; width: 100%;">
	@await Component.InvokeAsync("Menu")
	<div class="group" style="width: 100%;">
		<div class="card-form" style="display: flex; justify-content: space-between;">
			<div class="form-group" style="margin-left: 20px; flex: 1; margin-right: 20px;">
				<label for="exampleInputEmail1">Mã thông báo</label>
				<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nhập mã thông báo" style="margin-right: 20px;">
			</div>

			<div class="form-group" style="flex:1; margin-right: 20px;">
				<label for="exampleInputPassword1">Tên thông báo</label>
				<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nhập tên thông báo">
			</div>

			<div class="form-group" style="margin-right: 20px; flex: 1;">
				<label for="exampleInputPassword1">Nội dung</label>
				<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nhập nội dung">
			</div>
		</div>
		<button type="button" class="btn btn-block btn-success btn-lg" style="width: 150px; height: 50px; margin: auto;">Tìm kiếm</button>
		@await Component.InvokeAsync("ThongBao")
	</div>
</div>